
.article-container{
    display: flex;
    max-width: 1200px;
    gap: 4rem;
    align-items: start;
    justify-content: space-around;
    padding: 2rem;
}
.article-image{
    max-width: 400px;
    max-height: 240px;
    background-color: #3A9B88;
}
.title-container{
    margin-bottom: 4rem;
}
.article-body{
    display: flex;
    flex-direction: column;
}
.article-body p{
    max-width: 600px;
    color: rgb(117, 117, 117);
}
.article-body h2{
    margin-bottom: 2rem;
    color: #3A9B88;
}
.article-image-sinedries{
    max-width: 400px;
}
@media (max-width: 1000px) {

    .article-container{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
        padding: 0;
    }
    .article-body{
        padding: 1rem;
    }
    .title-container{
        margin-bottom: 2rem;
    }
   
}
@media (max-width: 500px) {
    .text-animation{
        font-size: 2rem;
    }
    .article-image{
        max-width: 320px
    }
    .article-body{
        max-width: 300px;
        text-align: start;
    }
    .article-body{
        padding: 0;
    }
    .article-image-sinedries{
        max-width: 100%;
    }
}
 .colored-section .dinanotites-menu{
    list-style-type: none;
}
.colored-section h4{
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}
.colored-section .dinanotites-menu li{
    margin-bottom: 0.2rem;
}
.colored-section .dinanotites-menu li a{
    color: rgb(248, 248, 248);
    text-decoration: none;
}
.colored-section .dinanotites-menu li a:hover{
    color:#9b7653;
    text-decoration: none;
}
.colored-section a{
    text-decoration: none;
}
.colored-section a h4{
    color: white;
    cursor: pointer;
}
.colored-section a h4:hover{
    color: #9b7653;
}

.tel-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.tel-form input{
    width: 50%;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid rgb(185, 185, 185);
}
.tel-form button{
    background-color: #3A9B88;
    width: 50%;
    border-radius: 8px;
}
.tel-form button:hover{
    background-color: #FFB162;
}
.online-session-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.6rem;
}
.online-session-form h3{
    color: #3A9B88;
}
.online-h3{
    color: #3A9B88;
    text-align: center;
}
.sticky-call{
    display: none;
}
@media only screen and (max-width:768px) {
    .tel-form{
        flex-direction: column;
    }
    .tel-form button, .tel-form input{
        width: 100%;
    }
    .sticky-call{
        display: none;
        background-color: #3A9B88;
        color: #ffffff;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 99999;
        padding: 1rem;
        transition: opacity 0.3s ease;
    }
    .sticky-call.show {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }
    .sticky-call i{
        font-size: 2rem;
    }
}


.toc-container {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 1100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toc-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc-container li {
    margin: 10px 0;
}

.toc-container a {
    text-decoration: none;
    /* color: #FFB162; */
    color: #59af97;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.3s;
}

.toc-container a:hover {
    color: #FFB162;
}
@media (max-width: 550px) {
     .toc-container{
        width: 90%;
     }   
}